.ant-modal-content {
  background-image: linear-gradient(
    to bottom,
    $color-primary-50,
    transparent 100px
  );
}
.ant-modal-header {
  background-color: transparent !important;
}

.ant-table-thead {
  .ant-table-cell {
    background-color: #eaecf1 !important;
  }
}

.ant-table-row {
  &:nth-child(even) .ant-table-row {
    background-color: #f9f9f9;
  }
  .ant-table-cell-row-hover {
    background-color: #f3f3f3 !important;
  }
}
.ant-table-tbody > tr.ant-table-row-level-0:nth-child(even) > td {
  background-color: #f9f9f9;
}
