@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./nav/index.scss";
@import "./antd/index.scss";

body {
  color: #1b1b1b;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 9999px;
}

.main-content {
  margin: 15px;
  padding: 15px;
  height: calc(100% - 30px);
  background-color: #fff;
}
