@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./nav/index.scss";
@import "./antd/index.scss";

body {
  color: #1b1b1b;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  border-radius: 9999px;
}

.clear::after,
.clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

.main-content {
  padding: 15px;
  @apply h-full flex-1 bg-white;
}

.staff-title {
  position: relative;
  padding-left: 12px;

  &::after {
    content: "";
    display: block;
    width: 5px;
    height: 80%;
    background-color: #2f62eb;
    position: absolute;
    top: 10%;
    left: 0;
  }
}


.btn-link-group {
  .btn-link:nth-child(n+2)::before {
    content: '|';
    @apply mx-2 text-gray-300;
  }
}

.btn-link{
  @apply text-primary-500
    cursor-pointer;
}

svg.current-color {
  fill: currentColor;
}

.flex-center {
  @apply flex justify-center items-center;
}
