.nav-layout-main {
  flex: 1;
  overflow: auto;
}

.nav-layout {
  background-color: #f2f4f8;
}

.nav-top-bar {
  position: relative;
  height: 90px;
  box-shadow: 0 1px 3px #00000033;

  &__logo {
    margin-left: 19px;
    margin-right: 13px;
  }

  &__title {
    font-family: Kozuka Gothic Pr6N;
    font-size: 20px;
    min-width: 130px;
  }
}

.nav-button-group {
  --nav-button-height: 48px;
  --nav-button-width: 114px;
  --nav-button-bg-radius: 24px;
  --nav-button-text-align: center;
  --nav-button-padding-left: 0;
  &.rect {
    --nav-button-bg-radius: 5px;
  }

  &.align-left {
    --nav-button-text-align: left;
    --nav-button-width: 180px;
    --nav-button-padding-left: 20px;
  }
}

.nav-button {
  height: var(--nav-button-height);
  line-height: var(--nav-button-height);
  width: var(--nav-button-width);
  text-align: var(--nav-button-text-align);
  padding-left: var(--nav-button-padding-left);
  &.active {
    .nav-button-text {
      color: #fff;
      position: relative;
      z-index: 2;
    }
    .nav-button-bg {
      background: linear-gradient(
        to right,
        mix($color-primary-300, $color-success-300),
        $color-primary-500
      );
    }
  }
}

.nav-button-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--nav-button-bg-radius);
}

.staff-bg {
  background-image: url("@/assets/images/staffbg.jpg");
  background-size: cover;

  .staff-head {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    .head-left {
      width: 220px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .head-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;

      .drop {
        background: linear-gradient(to right, #82b1c4, #0c42f3);
        color: #fff;
        padding: 5px 15px;
        border-radius: 10px;
      }

      .info {
        display: flex;
        align-items: center;
        color: #24445b;
        font-size: 17px;

        li {
          margin-right: 15px;
          padding-left: 15px;
          position: relative;
        }

        li + li {
          &::after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            background-color: #a9c7e1;
            width: 2px;
            height: 100%;
          }
        }
      }
    }
  }
}
