.top-card-add__card,
.top-card__card{

  &.top-card__active{
    @apply border-primary
  }
}

.page-top{
  &__main-content{
    padding: 20px;
  }
  &__message-bar{
    width: 336px;
  }
}

.message-at{
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 1.5em;
  color: $color-primary;
  background-color: #dde4f4;
  padding: 0 10px;
}