.top-card-add__card,
.top-card__card{
  width: 316px;
  height: 160px;
  border: 1px solid transparent;

  &.top-card__active{
    border: 2px solid #2F62EB;
  }
}

.page-top{
  &__main-content{
    padding: 20px;
  }
  &__message-bar{
    width: 336px;
  }
}

.message-at{
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 1.5em;
  color: #2F62EB;
  background-color: #dde4f4;
  padding: 0 10px;
}