.top-card{
  width: 316px;
  height: 160px;
}

.top-main{
  padding: 20px;
}

.message-at{
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 1.5em;
  color: #2F62EB;
  background-color: #dde4f4;
  padding: 0 10px;
}